<div id="blogpost-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-10 post">
        <div class="title">
          <%= @post.title %>
        </div>
        <div class="author">
          <%= @post.updated_at.strftime("%Y, %B %-d") %>
        </div>
        <div class="content">
          <%= @post.content_html.html_safe %>
        </div>
        <div class="comments">
          <%= render 'layouts/disqus_script' %>
        </div>
      </div>
    </div>
  </div>
</div>